footer {
    background-color: #162955;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.footerContent {
    padding-left: 30px;
}